<div class="image-placeholder-wrapper">
  <div class="image-placeholder">
    <p>Image goes here</p>
  </div>
</div>

{% schema %}
{
  "name": "Image Placeholder",
  "settings": [],
  "presets": [
    {
      "name": "Image Block"
    }
  ]
}
{% endschema %}
